.button {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 3px;
    padding: 18px 36px;
    border: none;
    background-color: get-color(maroon );
    text-transform: uppercase;
}