
.page-section {
    padding: $base-padding*2 $base-padding;
    position: relative;
    overflow: hidden;

    &:before,
	&:after {
		content: '';
		height: 16px;
		width: 150%;
		position: absolute;
		bottom: 0;
	}
	&:before {
		transform: skew(50deg);
		left: calc(-100% - 8px);
	}
	&:after {
		transform: skew(-50deg);
		right: calc(-100% - 8px);
	}
    
    &__inner {
        padding-bottom: $base-padding*2;
    }

    &:first-child {
        background-color: get-color(silver);
        &:before,
        &:after {
            background-color: lighten(get-color(silver), 10%);
        }
    }
    &:nth-child(2) {
        background-color: lighten(get-color(silver), 10%);
        &:before,
        &:after {
            background-color: get-color(black);
        }
    }
}