<div class="masthead">
    <div class="masthead__copy">
        <h1>
            <span>{{ htmlWebpackPlugin.options.data.helloBanner.main }}</span>
        </h1>
        <p>
            <span>{{ htmlWebpackPlugin.options.data.helloBanner.secondary }}</span>
        </p>
        <div class="u-text-center">
            <span class="availability-label">Available from {{ htmlWebpackPlugin.options.data.homepage.availableFrom }}</span>
        </div>
    </div>
</div>